body{
	background-color: #575869;
	font-family: sans-serif;
	color: #fff;
}
#instructions{
	width: 300px;
	height: 250px;
	margin: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background-color: #000;
	padding: 20px;
}
#title{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
#math{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: none;
	background-color: #6a0027;
	font-size: 200%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	margin-left: 40%;
}

#math:hover{
	color: #6a0027;
	background-color: #fff;
	border-color: #6a0027;
	-webkit-transition: all .3s linear;
	cursor: pointer;
}

#english{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: none;
	background-color: #709898;
	font-size: 200%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	margin-left: 20px;
}

#english:hover{
	color: #709898;
	background-color: #fff;
	border-color: #709898;
	-webkit-transition: all .3s linear;
	cursor: pointer;
}